<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="get" action="search">
        <label> Search </label>
        <input type="text" name="keyword" placeholder="Search by Name"> <br>
        <input type="submit" value="Search">
    </form>

<!--    <table class="table">-->
<!--        <thead class="thead-light">-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Tên Trường</th>-->
<!--            <th>Địa chỉ</th>-->
<!--            <th>SDT</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each=" truong : ${listTruong}">-->
<!--            <td th:text="${truong.getMaTruong()}"></td>-->
<!--            <td th:text="${truong.getTenTruong()}"></td>-->
<!--            <td th:text="${truong.getDiaChi()}"></td>-->
<!--            <td th:text="${truong.getSDT()}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</body>
</html>